<div class="row ourfooter">
  <div class="col-md-12">
    <img src="<%= image_url "daft_logo_footer.png" %>">

    <h2>Join our mailing list for Daft News!</h2>
      <%= form_tag mailinglists_sign_up_path, remote: true, :class=>'form-inline' do %>
        <%= text_field_tag :name, '', :placeholder=>'Name', :class=> 'form-control' %>
        <%= text_field_tag :email, '', :placeholder=>"Email", :class=>'form-control' %>
        <%= submit_tag 'Sign Up', :class=>'btn btn-primary'%>
      <% end %>
    <p>&copy; 2014, all rights reserved</p>
  </div>
</div>
