<div class="row account_nav">
  <div class="col-md-4">
    <p>
      Welcome, new to Daft?
      <a href="#">Subscribe Now</a>
    </p>
  </div>


  <div class="col-md-4 col-md-offset-4">

    <div class="input-group">

          <% if is_signed_in? %>
              <div class = 'pull-right'>
                <ul><%= link_to 'Create an Article', new_article_path, :class=> 'btn btn-default' %></ul>
                <ul><%= link_to 'Sign Out', sessions_path, method: :delete, :class=> 'btn btn-primary' %></ul>
              </div>
          <% else %>
              <%= form_tag sessions_path, :class=> 'form-inline pull-right' do %>
                <%= email_field_tag :email, 'Email', :class=> 'form-control' %>
                <%= password_field_tag :password, 'Password', :class=> 'form-control' %>


                <span class="circle">
                    ?
                </span>

                  <%= submit_tag 'Sign In', :class => 'btn btn-default'%>

                <% end %>
        <% end %>

    </div>



  </div>

</div>
